@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fluid canvas styles */


html,
body {
  background-color: #000;
}



.cursive {
  font-family: "Cedarville Cursive", cursive;
}

.Welcome-text {
  background: linear-gradient(0deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)),
    linear-gradient(90.01deg, #e59cff 0.01%, #ba9cff 50.01%, #9cb2ff 100%);
  background-blend-mode: normal, screen;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Welcome-box {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 32px;
  box-shadow: inset 0 -7px 11px #a48fff1f;
  display: flex;

  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
}

.button-primary {
  background: linear-gradient(180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.32) 100%),
    rgba(113, 47, 255, 0.12);
  box-shadow: inset 0 0 12px #bf97ff3d;
}

.button-primary:hover {
  background: linear-gradient(180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.42) 100%),
    rgba(113, 47, 255, 0.24);
  box-shadow: inset 0 0 12px #bf97ff70;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.skill-icon {
  transition: all 0.5s ease-in-out;
  will-change: transform, opacity, left, top;

}


html {
  scroll-behavior: smooth;
}


@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 6s ease infinite;
}


/* ---------- Perspective ---------- */
.perspective-1000 {
  perspective: 1000px;
}

/* ---------- Drop animation ---------- */
.glass-drop {
  animation: glass-fall 0.7s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  will-change: transform, opacity, filter;
}

@keyframes glass-fall {
  0% {
    transform: translateY(0) rotateX(0deg) scale(1);
    opacity: 1;
    filter: blur(0px);
  }

  70% {
    opacity: 0.9;
  }

  100% {
    transform: translateY(90px) rotateX(22deg) scale(0.96);
    opacity: 0;
    filter: blur(3px);
  }
}